

/*write a code to demo of Absolute measurment
 Absolute----cm,mm,in,px*/ 
 
.divvalue-1{
    height :2cm;
    width :3cm;
   background-color:brown;
}
.divvalue-2{
    height :30mm;
    width :30mm;
   background-color:rgb(52, 165, 67);
}
.divvalue-3{
    height :1in;
    width :1in;
   background-color:rgb(30, 42, 150);
}
.divvalue-4{
    height :100px;
    width :100px;
   background-color:rgb(110, 182, 17);
}