/* not working*/
h1:hover{
    color:yellow;
}

/*second*/
li:last-child
{
    color:blue;
}  
#specific:first-child{
    color:red;
}
li:nth-child(2){
    color:orangered;
}
 third

 a:link {
    color: yellow;
           }
           
a:visited{
    color:mediumvioletred;
}

 a:hover{

    color:rgb(144, 108, 165);
}

